<div class="row">
    <div class="col-md-6">
        <div class="col-md-2">
            <label>Name</label>
        </div>
        
        <div class="col-md-4">
            <input type="text" [(ngModel)]="name" (keyup)="reverseName($event);" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-2">
            <label>Reverse Name</label>
        </div>
        
        <div class="col-md-4">
            <input type="text" disabled [(ngModel)]="reversedName" />
        </div>
    </div>
    <div class="row">
        <button type="button" (click)="showReverseName();">Show</button>
    </div>
     
    

    <div *ngIf="show" class="row">
        <div class="row">
            <label>Output</label>
        </div>
        <div class="row">
            <label>{{reversedName}}</label>
        </div>
    </div>
</div>